/* these all  apply to the body ->global rules*/

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
  font-family: sans-serif;
  background-color: black;
  color: white;
  background-image: url('../images/denim.png');
}

/* main header rules */

header{

    background-color:  red;
    position: sticky;
    top: 0;
    text-align: center;
}

#main-logo { width: 300px; padding: 10px 0;}

/*main rules here*/
#character_nav{
    text-align: center;
    background-color: black;
}

.characters { list-style-type: none;}
.characters li { display: inline-block; }

.characters li img{
    width: 150px;
    cursor: pointer;
}

/* footer reules here*/
footer{
    color: white;
    padding: 20px 0;
    text-align: center;
}

.sticky_footer {
    position: sticky;
    top: 100%;

    height: 80px;
    background-color: rgb(40, 37, 37);
}